<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/add?id={{idMahasiswa}}">Add File</a>
    <table>
        <thead>
            <tr>
                <th>Nama File</th>
                <th>View</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#pictures}}
            <tr>
                <td>
                    {{description}}
                </td>
                <td>
                    <a href="/pictures/{{description}}" target="_blank" ><img src="data:image/png;base64, {{image}}"></a>
                </td>
                <td>
                    <a href="/delete?id={{idPicture}}&idm={{idMahasiswa}}">Hapus</a>
                </td>
            </tr>
            {{/pictures}}
        </tbody>
    </table>
</body>
</html>